beautifulsoup4~=4.12
pygithub~=2.1
google-api-python-client~=2.105
google-auth~=2.23
google-auth-oauthlib~=1.1
isodate~=0.6
jupyter~=1.0
pandas~=2.1
plotly~=5.17
requests~=2.31
tqdm~=4.66
tzlocal~=5.1