beautifulsoup4~=4.12
pygithub~=2.2
google-api-python-client~=2.122
google-auth~=2.29
google-auth-oauthlib~=1.2
isodate~=0.6
jupyter~=1.0
pandas~=2.2
plotly~=5.20
requests~=2.31
tqdm~=4.66
tzlocal~=5.2