name: Playlists updates

on:
    workflow_dispatch:
        inputs:
            logLevel:
                description: 'Log level'
                required: true
                default: 'warning'


    schedule:
        -   cron: "0 0,12,16,20 * * 0"
        -   cron: "0 0,12,16,20 * * 1"
        -   cron: "0 0,12,15,18,21 * * 2"
        -   cron: "0 0,12,14,16,18,20,22 * * 3"
        -   cron: "0 0,12,14,16,18,20,22 * * 4"
        -   cron: "0 0,12,14,16,18,20,22 * * 5"
        -   cron: "0 0,12,15,18,21 * * 6"

jobs:
    build-linux:
        name: youtube-automation
        runs-on: ubuntu-latest

        permissions:
            contents: write
            id-token: write

        env:
            CREDS_B64: '${{ secrets.CREDS_B64 }}'
            GITHUB_REPOSITORY: '${{ github.GITHUB_REPOSITORY }}'
            PAT: '${{ secrets.PAT }}'

        steps:
            -   id: checkout
                name: Checkout repository
                uses: actions/checkout@v4

            -   id: python-setup
                name: Set up Python 3.10
                uses: actions/setup-python@v5
                with:
                    python-version: '3.10'

            -   id: dependencies
                name: Install dependencies
                run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt

            -   id: flake8
                name: Lint with flake8
                run: |
                    pip install flake8
                    flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
                    flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

            -   id: main
                name: Main process execution
                run: |
                    cd src
                    python main.py 'action'
                    cd ../

            -   id: commit
                name: Commit changes (Log and historical data)
                run: |
                    git config --local user.email "action@github.com"
                    git config --local user.name "github-actions"
                    git commit -m "chore(r/data, r/log): Latest execution changes." -a

            -   id: push
                name: Push changes
                uses: ad-m/github-push-action@master
                with:
                    github_token: ${{ secrets.GITHUB_TOKEN }}
                    force: true
